*

!*/
!*.d
!*.ini
!*.json
!*.md
!*.py
!.gitignore
!LICENSE

!source/
!bin/

!resource/
!resource/*.ver
!resource/*.lst
!resource/*.png
!resource/*.ttf

!.github/
!.github/workflows/
!.github/workflows/*.yml

.*
builds/
